/* Fonts Used 
font-family: 'Source Sans Pro', sans-serif;
font-weights: 200,300,400,600 (normal & italic) */

/* 

    colors: 
    rust #c29880
    dark-rust: #a2745c
    green: #c29880

    og rust = #c29880;


*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img { max-width: 80%; }

[class*=grid] {
    margin:0;
}

html {
    scroll-behavior: smooth;
}

/* Temporary Styles */

/* * {
    padding: 0.5rem;
    border: 2px solid rgb(200,200,200);
} */

/* html,
body {
    border: none;
} */
/* 
h1,h2,h3,h4,h5,h6,a,p {
    border: 2px solid rgb(209, 93, 93);
} */
/* 
.bg-image {
    background-color:rgb(95, 144, 236)
} */

/* End Temporary Styles */

/* Universal Classes */

.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }


.padded    { padding: 5%;    }
.padded-1  { padding: 1rem;  }
.padded-2  { padding: 2rem;  }


.padded-t  { padding-top: 5%;     }
.padded-b  { padding-bottom: 5%;  }
.padded-l  { padding-left: 5%;    }
.padded-r  { padding-right: 5%;   }

.padded-0      { padding: 0; }
.padded-b-0    { padding-bottom: 0; }

.margin-b-0    { margin-bottom: 0; }
.margin-b-1    { margin-bottom: 1rem; }
.margin-b-2    { margin-bottom: 2rem; }
.margin-b-3    { margin-bottom: 3rem; }


.bg-rust          { background-color: #d3b4a2;  } 
.bg-green         { background-color: #9b9b81;  }
.bg-dark-rust     { background-color: #a2745c;  }
.bg-dark-footer   { background-color: #161813;  }

.light-text     { color: #f7e4f3; } 
/* .dark-grey-text { color: #252422; } */


.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }

.capped-width {
    max-width: 1000px;
    margin: auto;
}

.capped-width-narrow {
    max-width: 900px;
    margin: auto;
}

.flex-flip-alternate:nth-child(even) {
    flex-direction: row-reverse;
}

.right-arrow {
    max-width: 2.5rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
}
/* Typography styles */

body { 
    font-family:'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #252422;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    letter-spacing: -0.01rem;
}

h1 { font-size: 1.5rem; }

h2 { font-size: 2.5rem; }

h3 { font-size: 1.8rem; }

h4 { 
    font-size: 1.4rem;
    letter-spacing:0.01rem;
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 0.8rem;
}

p:last-child { margin-bottom: 0; }

a { color: inherit; }

nav a { 
    text-decoration: none;
    padding-left: 1rem;
 }

 header a {
     text-decoration: none;
 }

 .button {
     color: #f7e4f3;
     text-decoration: none;
     border: 2.5px solid; 
     padding: 0.5rem 1rem;
     display: inline-block;
     font-weight: 400;
 }

 a:hover { color: #817e77; }

 .bg-dark-rust .button:hover { color: #634738; }

.subtle {
    font-size: 0.9rem;
    opacity: 0.8;
}
    
.las {
    font-size: 2.5rem;
    opacity: 0.8;
}

.emphasis {
    font-size: 1.2rem;
    font-weight: 400;
}

/* Header & Footer Styles */

header { padding: 2% 5%; }

header [class*=col] {
    padding: 0;
  }
  

footer a:hover { color: #cdb4a7;}

footer .lab { font-size: 1.5rem; }

footer h2 { font-weight: 300; }

footer p {
    line-height: 1;
    font-weight: 200;
}

footer h3 {
    font-size: 1.3rem;
    font-weight: 300; 
}

/* Hamburger Menu Styles */

.hamburger-button {
    display: inline-block;
    padding: 0.5rem;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 0.8;
    cursor: pointer;
    position: fixed;
    right: 0.5rem;
    top: 0.3rem;
    z-index: 2;
  }
  
  /* Styles that apply when mobile menu is active */

  .hamburger-button.active {
    color: #f7e4f3;
  }
  
  .mobile-menu {
    display: none;
    background-color: #a2745c;
    padding: 5%;
    position: fixed;
    text-align: center;
    top:0;
    bottom: 0;
    left: 0;
    right: 0; 
    z-index: 1;
  }
  
  .mobile-menu a{
    font-size: 1.5rem;
    display: block;
    padding: 7%;
    margin-top: 1rem;
    color: #f7e4f3;
    font-weight: normal;
  }
  

/* Image Styles */

.bg-image {
    background-color: #9b9b81;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/plant.jpg');
}

.profile-image {
    border-radius: 100%;
}

.landscape {
    padding-bottom: 60%;
}

.bg-light {
    background-color: #f7f6fb;
}

.bg-light-green {
    background-color: #bfce9d;
}

.bg-plant  {  
    background-image: url('/images/plant.jpg');
    background-position: 50% 43%;
   }

.bg-plant-2  { 
     background-image: url('/images/plant-2.jpg'); 
     background-position: 50% 48%;
}

.bg-meeting              {  background-image: url('/images/meeting.jpg'); }
.bg-mockup               {  background-image: url('/images/mockup.jpg');  }
.bg-placeholder-project  {  background-image: url('/images/placeholder-project.png'); }

.fixed { background-attachment: fixed; }

/* Responsive Video */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
 }

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsive Styles */

.mob-show{
    display: none;
  }

/* SM - max-width 48em aprox 768px */

@media(max-width: 48em){

    .mob-show {display: block; }
    .mob-hide {display: none;  }
    
    .hide-sm { display: none; } 
    .center-sm { text-align: center; }
    .flex-flip-sm { flex-direction: column-reverse; }

    .small-text {
        font-size: 1.8rem;
    }

    .padded-sm {
        padding: 1rem;
    }

    .bg-plant { 
        background-image: url('/images/plant-light.png')
    }
    .bg-plant-2 {
        background-image: url('/images/plant-2-light.png')
    }
   
    .parallax { background-attachment: scroll; }
}